<link href="https://fonts.googleapis.com/css?family=Antic+Slab|Exo+2:400,400i,700" rel="stylesheet">

<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Exo+2:400,400i,600');

body, html {
margin-left:2.5%;
margin-right:1.5%;
margin-bottom:1%;
margin-top:2%;
}

</style>



h1 {
    text-align: left;  font-family: 'Exo 2', sans-serif;
}


h2 {
    text-align: left;  font-family: 'Exo 2', sans-serif;
}


h3 {
    text-align: left;  font-family: 'Exo 2', sans-serif;
}

p { font-family: 'Antic Slab', serif;

}
