<link href="https://fonts.googleapis.com/css?family=Antic+Slab|Exo+2:400,400i,700" rel="stylesheet">

font-family: 'Exo 2', sans-serif;
font-family: 'Antic Slab', serif;

h1 {
    text-align: left;  font-family: 'Exo 2', sans-serif;
}

