<link href="https://fonts.googleapis.com/css?family=Antic+Slab|Exo+2:400,400i,700" rel="stylesheet">


h1 {
    text-align: left;  font-family: 'Exo 2', sans-serif;
}


h2 {
    text-align: left;  font-family: 'Exo 2', sans-serif;
}


h3 {
    text-align: left;  font-family: 'Exo 2', sans-serif;
}

p { font-family: 'Antic Slab', serif;

}
